/* Global defaults */

@define-color base #1e1e2e;
@define-color text #cdd6f4;
@define-color red #f38ba8;
@define-color green #a6e3a1;
@define-color blue #89b4fa;
@define-color yellow #f9e2af;

* {
    font-family: "Noto Sans Mono";
    font-size: 21px;
    /* min-height: 36px; */
}

/* Bar background */
window#waybar {
    background: @base;
    color: @text;
}

/* Default workspace button style (inactive) */
#workspaces button {
    padding: 0 8px;
    border: none;
    box-shadow: none;
    background: transparent; /* no base background */
    color: @text;
}

/* TODO: What exactly does this do?:
#workspaces button.active {
    background: @blue;
    color: @base;
}
*/
/* Visible workspace (visible but not focused) → solid blue block */
#workspaces button.visible {
    background: @blue;
    color: @base;
}
/* Focused workspace → solid green block */
#workspaces button.focused {
    background: @green;
    color: @base;
}
/* Urgent workspace → solid red block */
#workspaces button.urgent {
    background: @red;
    color: @base;
}

/* #workspaces button.focused { background: #a6e3a1; color: #1e1e2e; } */
/* #workspaces button.active { background: #89b4fa; color: #1e1e2e; } */
/* #workspaces button.urgent { background: #f38ba8; color: #1e1e2e; } */
/* #workspaces button.inactive { background: transparent; color: #cdd6f4; } */


/* Binding mode indicator */
#mode {
    background: @base;
    color: @red;
}

/* Separator symbol TODO unused
#custom-separator {
    color: @base;
    margin: 0 4px;
}
*/


#cpu, #memory { color: @text; }
#battery.good { color: @green; }
#cpu.neutral, #memory.neutral, #battery.neutral { color: @text; }
#cpu.warning, #memory.warning, #battery.warning { color: @yellow; }
#cpu.critical, #memory.critical, #battery.critical { color: @red; }
